In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df =pd.read_csv("Real estate.csv")

In [3]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
df.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

In [5]:
df.isnull().any()

No                                        False
X1 transaction date                       False
X2 house age                              False
X3 distance to the nearest MRT station    False
X4 number of convenience stores           False
X5 latitude                               False
X6 longitude                              False
Y house price of unit area                False
dtype: bool

In [6]:
df.size

3312

In [7]:
df.shape

(414, 8)

In [8]:
df=df.drop("No",axis=1)

In [9]:
# select the target and feature of the dataset
target=df['Y house price of unit area']
feature= df.drop("Y house price of unit area",axis=1)

In [10]:
target.shape

(414,)

In [11]:
feature.shape

(414, 6)

In [12]:
target.head()

0    37.9
1    42.2
2    47.3
3    54.8
4    43.1
Name: Y house price of unit area, dtype: float64

In [13]:
feature.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,2012.917,32.0,84.87882,10,24.98298,121.54024
1,2012.917,19.5,306.59470,9,24.98034,121.53951
2,2013.583,13.3,561.98450,5,24.98746,121.54391
3,2013.500,13.3,561.98450,5,24.98746,121.54391
4,2012.833,5.0,390.56840,5,24.97937,121.54245

In [14]:
feature.columns

Index(['X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'],
      dtype='object')

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(feature,target,test_size=0.3)

In [18]:
print(x_train.size)
print(y_train.size)

1734
289

In [19]:
print(x_test.size)
print(y_test.size)

750
125

In [20]:
lr=LinearRegression()

In [21]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [22]:
y_pred=lr.predict(x_test)

In [23]:
lr.coef_

array([ 5.44966874e+00, -2.34578244e-01, -3.89411739e-03,  1.30325228e+00,
        2.54565331e+02,  1.91542339e+01])

In [24]:
lr.intercept_

-19614.050132375844

In [25]:
from sklearn.metrics import classification_report ,r2_score,mean_squared_error

In [26]:
print("r2-score ",r2_score(y_test,y_pred))

r2-score  0.594321343754542

In [27]:
mean_squared_error(y_test,y_pred)

65.803470313822

In [34]:
a=y_test.tolist()

In [35]:
p=y_pred.tolist()

In [38]:
type(a)

list

In [39]:
type(p)

list

In [40]:
classification_report(a,p)

ValueError: continuous is not supported