In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_csv("weight-height.csv")

In [3]:
df.size

30000

In [4]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
Gender    10000 non-null object
Height    10000 non-null float64
Weight    10000 non-null float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [6]:
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [7]:
df.tail()

      Gender     Height      Weight
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

In [8]:
df.isnull().any()

Gender    False
Height    False
Weight    False
dtype: bool

In [9]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [10]:
#change the categorical data into quantiative data
df['Gender']=df['Gender'].map({
    'Male':1,
    'Female':0
})

In [11]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [12]:
target=df['Gender']
feature=df.drop('Gender',axis=1)

In [13]:
feature.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [14]:
target.head()

0    1
1    1
2    1
3    1
4    1
Name: Gender, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(feature,target,test_size=0.3)

In [17]:
print("x_train size",x_train.size)
print("x_train size",x_test.size)
print("y_train size",y_train.size)
print("y_train size",y_test.size)

x_train size 14000
x_train size 6000
y_train size 7000
y_train size 3000

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
lg=LogisticRegression()

In [20]:
lg.fit(x_train,y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [21]:
y_pred=lg.predict(x_test)

In [22]:
lg.coef_

array([[-0.49471479,  0.20371614]])

In [23]:
lg.intercept_

array([-0.01035991])

In [24]:
from sklearn.metrics import r2_score , mean_squared_error,classification_report

In [25]:
print("accuracy is ", r2_score(y_test,y_pred))

accuracy is  0.6546652853278079

In [26]:
print("mean squared error",mean_squared_error(y_test,y_pred))

mean squared error 0.08633333333333333

In [28]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.92      0.91      0.91      1503
           1       0.91      0.92      0.91      1497

   micro avg       0.91      0.91      0.91      3000
   macro avg       0.91      0.91      0.91      3000
weighted avg       0.91      0.91      0.91      3000

In [ ]:
train_test_split()